* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(74, 74, 74);
    color: white;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.removeBtn {
    pointer-events: none;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: rgb(180, 177, 177);
    border-bottom: .2em solid gray;
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
}

#week {
    color: rgb(71, 245, 184);
    font-size: 1rem;
    transform: translateX(80%);
}

.table td {
    display: inline-block;
    width: 10%;
    padding-bottom: 1em;
}

.table .table-habit {
    padding-bottom: 1em;
    font-size: 1.2rem;
}

.addBtn {
    background-color: #8f8f8f;
    border: none;
    color: white;
    padding: .4em .6em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1em;
    cursor: pointer;
}

.clear-all {
    background-color: #8f8f8f;
    border: none;
    color: white;
    padding: .4em .6em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1em;
    cursor: pointer;
}

.input {
    margin-top: 3em;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.habit-input,
.addBtn,
.clear-all {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.habit-item {
    max-width: 60px;
    hyphens: auto;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.habit-input {
    hyphens: auto;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 0;
    border-bottom: .2em solid gray;
    outline: 0;
    font-size: 1.1rem;
    padding: .5em 0;
    background: transparent;
    color: rgb(255, 255, 255);
}

.habit-task {
    display: flex;
    justify-content: center;
    align-content: center;
}

.color-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
}

:placeholder-shown {
    font-family: 'Quicksand', sans-serif;
}

input::placeholder {
    color: rgb(53, 53, 53);
}

.check {
    margin: 2em;
}

.trash-btn {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(125, 125, 125);
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: .5em;
    cursor: pointer;
}

.table-check {
    float: left;
    transform: translate(8%);
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.habits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.check:hover {
    scale: 1em;
}

.check {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: none;
}

.habit-item {
    list-style: none;
    align-items: center;
    justify-content: center;
}

.counting {
    margin-left: 3em;
}

#condition {
    width: 50%;
    color: #858585;
    font-size: 12px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check {
    cursor: pointer;
    background-color: rgba(234, 234, 234, 0);
    border: .2em solid gray;
}

.c {
    background-color: gray;
    cursor: pointer;
}

.d {
    background-color: teal;
}